root = true

#################### GLOBAL ####################
[*]

end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

# Roslyn Code Analysis
# IDE0130 : Namespace does not match folder structure
dotnet_diagnostic.ide0130.severity = none

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_style_var_elsewhere = true:warning
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = true:warning
dotnet_sort_system_directives_first = false
dotnet_style_parentheses_in_other_operators = always_for_clarity

# ReSharper properties
prefer_roslyn_rules_for_parentheses_clarity = false # i.e. dotnet_style_parentheses_*
resharper_align_multiline_binary_expressions_chain = false # Don't try to align multiline && || && || chains.
resharper_arguments_skip_single = true # Skip named/positional argument-style rules when only one argument.
resharper_arrange_redundant_parentheses_highlighting = none # default: hint; parens help readability.
resharper_braces_for_for = required_for_multiline # default: not_required
resharper_braces_for_foreach = required_for_multiline # default: not_required
resharper_braces_for_ifelse = required_for_multiline # default: not_required_for_both
resharper_braces_for_lock = required_for_multiline # default: required
resharper_braces_for_using = required_for_multiline # default: required
resharper_braces_for_while = required_for_multiline # default: not_required
resharper_constructor_or_destructor_body = expression_body # default: block_body
resharper_csharp_blank_lines_before_block_statements = 1 # default: 0
resharper_csharp_empty_block_style = together # default: multiline
resharper_csharp_keep_nontrivial_alias = true # Helps readability.
resharper_csharp_place_attribute_on_same_line = false # Keep it simple: every attribute is on its own line except record fields.
resharper_csharp_place_record_field_attribute_on_same_line = true # The exception to every attribute on its own line.
resharper_csharp_qualified_using_at_nested_scope = true # Helps readability.
resharper_csharp_wrap_after_declaration_lpar = true # default: ?; helps readability when combined with chop_if_long.
resharper_csharp_wrap_after_invocation_lpar = true # default: ?; helps readability when combined with chop_if_long.
resharper_csharp_wrap_before_binary_opsign = true # default: ?; helps continuation line self-document: ?? && ||
resharper_csharp_wrap_before_extends_colon = true # default: ?; helps readability of Type declarations.
resharper_csharp_wrap_before_first_type_parameter_constraint = true # default: ?; helps readability of Type declarations.
resharper_csharp_wrap_before_type_parameter_langle = true # default: ?; helps readability of Type declarations.
resharper_csharp_wrap_chained_binary_expressions = chop_if_long # default: wrap_if_long
resharper_csharp_wrap_multiple_type_parameter_constraints_style = chop_always # default: ?; helps readability of Type declarations.
resharper_instance_members_qualify_declared_in = # Don't qualify with 'this.'.
resharper_local_function_body = expression_body # default: block_body
resharper_method_or_operator_body = expression_body # default: block_body
resharper_object_creation_when_type_not_evident = target_typed # Allow return new();
resharper_place_simple_method_on_single_line = true # Simple single line.
resharper_prefer_wrap_around_eq = strongly # Break after the = sign when a wrap is needed.
resharper_wrap_arguments_style = chop_if_long # default: wrap_if_long
resharper_wrap_parameters_style = chop_if_long # default: wrap_if_long

# ReSharper inspection severities
resharper_check_namespace_highlighting = none # Keep things simple by allowing a single namespace and using folders for organization.
resharper_unused_auto_property_accessor_global_highlighting = suggestion # False positive for Options classes
resharper_unused_method_return_value_local_highlighting = suggestion # Noisy for standard .NET DI Container and Configuration patterns.

#!!!!!!!!!!!!!!!!!!! WARNING !!!!!!!!!!!!!!!!!!!!
# Roslyn and Rider use different glob matching engines. Roslyn does not support complicated glob patterns like Rider.
# For instance, for the ASP.NET "Controller" glob pattern found below, Roslyn fails while Rider succeeds with:
# [**/.Web*/**/*Controller.cs]
# That is why we simplified it (but lost specificity):
# [**/*Controller.cs]

#################### ASP.NET ####################
[**/*{Controller,TagHelper}.cs]
# CA1515 : Because an application's API isn't typically referenced from outside the assembly, types can be made internal
# "Obeying" this rule will cause some Reflection based registrations to fail (e.g. ASP.NET Controllers).
dotnet_diagnostic.ca1515.severity = none

#################### BENCHMARKS AND TESTS ####################
# Roslyn does NOT support this glob pattern; therefore, only ReSharper overrides can be used within its scope.
[**/*.{Benchmarks,Tests}/**/*.cs]

# ReSharper inspection severities
resharper_inconsistent_naming_highlighting = none
